.header {
  height: 500px;
  position: relative;
  background-color: var(--color-dark);
  display: flex;
  align-items: center;
  padding-left: 224px;
  padding-top: 64px;
}

.logoContainer {
  position: absolute;
  top: 64px;
  width: 64px;
  height: 64px;

  div {
    border-radius: 7px;
    position: absolute;
    &:nth-child(1) {
      width: 32px;
      height: 32px;
      background-color: var(--color-accent);
    }
    &:nth-child(2) {
      width: 32px;
      height: 32px;
      background-color: var(--color-background);
      right: 0;
    }
    &:nth-child(3) {
      background-color: var(--color-background);
      right: 0;
      bottom: 0;
      width: 32px;
      height: 32px;
      visibility: hidden;
    }
  }
}

.headerTextWrapper {
  h3 {
    font-family: var(--font-header);
    font-size: 48px;
    color: var(--color-accent);
    letter-spacing: 0.05em;
  }
  h4 {
    font-family: var(--font-body);
    font-weight: 400;
    font-size: 24px;
    color: var(--color-background);
  }
}

.boxes {
  --box-width: 96px;
  --box-br: 20px;
  position: absolute;
  right: 0;
  bottom: calc(-3 * var(--box-width));
  display: grid;
  grid-auto-columns: var(--box-width);
  grid-auto-rows: var(--box-width);
  width: calc(7 * var(--box-width));
  height: calc(6 * var(--box-width));

  div {
    width: var(--box-width);
    height: var(--box-width);
    border-radius: var(--box-br);
    // position: absolute;

    &:nth-child(1) {
      grid-area: 1 / 7 / 1 / 7;
      background-color: var(--color-light);
    }
    &:nth-child(2) {
      grid-area: 3 / 7 / 3 / 7;
      background-color: var(--color-accent);
    }
    &:nth-child(3) {
      grid-area: 3 / 6 / 3 / 6;
      background-color: var(--color-background);
      position: absolute;
      right: 0;
    }
    &:nth-child(4) {
      grid-area: 3 / 4 / 3 / 4;
      background-color: var(--color-light);
      position: absolute;
      bottom: 0;
    }
    &:nth-child(5) {
      grid-area: 3 / 3 / 3 / 3;
      background-color: var(--color-background);
      position: absolute;
      right: 0;
    }
    &:nth-child(6) {
      grid-area: 4 / 7 / 4 / 7;
      background-color: var(--color-medium);
    }
    &:nth-child(7) {
      grid-area: 5 / 6 / 5 / 6;
      background-color: var(--color-accent);
    }
    &:nth-child(8) {
      grid-area: 4 / 6 / 4 / 6;
      background-color: var(--color-dark);
      position: absolute;
      right: 0;
    }
    &:nth-child(9) {
      grid-area: 4 / 4 / 4 / 4;
      background-color: var(--color-medium);
      position: absolute;
      right: 0;
    }
    &:nth-child(10) {
      grid-area: 2 / 7 / 2 / 7;
      background-color: var(--color-light);
      visibility: hidden;
      position: absolute;
      right: 0;
    }
    &:nth-child(11) {
      grid-area: 4 / 5 / 4 / 5;
      background-color: var(--color-dark);
      visibility: hidden;
    }
  }
}
