:root {
  --color-background: #f7f6f3;
  --color-accent: #f16a29;
  --color-light: #d9e4e7;
  --color-medium: #99b7b8;
  --color-dark: #537d7f;
  --color-text: #131c1c;
  --font-body: "Work Sans", Verdana, "Helvetica Neue", sans-serif;
  --font-header: "Front Page Neue", Verdana, sans-serif;
}
